<div class="container">
    <div class="row">
        <div class="col-sm-6 offset-sm-3">
            <div class="card">
                <div class="card-body">
                    <div class="align">
                        <h1><b>Error 404</b></h1>
                        <h5><b>Page Not Found</b></h5>
                        <P>The requested URL was not found on the server</P>
                        <hr class="uderline">
                     </div>  
                </div>
            </div>
        </div>
    </div>
</div>