<div class="container">
    <div class="row">
        <div class="col-sm-4 offset-sm-4">
            <form (ngSubmit)="getPassword()">
                <div class="form-group">
                    <label>Enter Username</label>
                    <input [(ngModel)]="Validusername" type="text" class="form-control" name="Validusername">
                </div>
                <button class="btn btn-success">Get Password</button>
            </form>
            <h3 style="margin-top: 20px;">Your Password is: {{retrievePass}}</h3>
        </div>
    </div>
</div>